@import '../../../styles/ajonp-lesson-8-admin-app-theme.scss';
.success{
  background-color: $green;
  color: $white;
}
.error{
  background-color: $red;
  color: $white;
}

.book-card {
  margin: 20px;
  width: 400px;
}

.book-header-image {
  background-image: url(https://res.cloudinary.com/ajonp/image/upload/w_80/v1545282630/ajonp-ajonp-com/8-lesson-firestore-functions/bookExample.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.dashboard-card-content {
  text-align: center;
}

mat-card-title {
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card{
  max-width: 500px;
}
